@import "util.scss";//工具类css----兼容性

html,body,#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    height: 100%;
    @include flexBox;
    @include flex-direction('column');
    
//  -webkit-box-orient: vertical;
//  flex-direction: column;
        .header{
            height: 44px;
            width: 100%;
            background-color: #31C27C;
            
            
            color: #fff;
         
            
            .commonHeader{
                width: 100%;
                height: 100%;
                @include flexBox;
                @include flex-direction("row");
                text-align: center;
                .back{
                    width: 50px;
                    @include flex-center;
                }
                .title{
                    flex: 1;
                    @include flex-center;
                }
                .moreInfo{
                    width: 50px;
                    @include flex-center;
                }
            }
            
            
            
        }
        #content{
            width: 100%;
            overflow-y: auto;
           @include flex(1);
           &::-webkit-scrollbar {display: none;}
           
           position:relative;
           
        }
        .footer{
            height: 50px;
            width: 100%;
            background-color: #eee;
            
            ul{
                width: 100%;
                height: 100%;
                 @include flexBox;
                li{
                    @include flex(1);
                    @include flex-center;
                    
                    &.active{
                        color:#f66;
                    }
                }
            }
        }
}
